.AppCalculator {
     text-align: center;
     padding: 50px;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     font-size: calc(10px + 2vmin);
     color: white;
}
    
.calculator {
     width: 320px;
     box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
     padding: 20px;
     border-radius: 20px;
}

.rows {
     display: flex;
     border-bottom: 1px solid transparent;
}

.calc-btn {
     flex: 1;
     padding: 20px 0;
     font-size: 2em;
     border: none;
     background-color: #333;
     color: white;
     text-align: center;
     cursor: pointer;
}

.input {
     background-color: aliceblue;
     box-sizing: content-box;
     color: black;
     font-size: 2em;
     padding: 20px;
     text-align: right;
     border-bottom: 1px solid white;
     height: 40px;
     border: 1px solid black;
     margin-bottom: 10px ;
     border-radius: 10px;
}

    